.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.loadingCSS {
  height: 100px;
  margin: 30px;
}
.cardCss {
  width: 29%;
  float: left;
  border: 2px solid #9326;
  margin: 12px 25px auto;
  height: 200px;
}
.countCss{
  font-size:15px;
}
.listHdng {
  font-size:25px;
  font-weight: bold;    
  background-color: indianred;
}
.pgnIcon{
  border-radius: 25px;
    background-color: indianred;
    height: 50px;
    width: 50px;
    float:right;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 35px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
